{% extends "admin/change_form.html" %}

{% block object-tools-items %}
  {% if change and not original.archived_at %}
    <li><a class="historylink" href="{% url 'tipiti_admin:shopping_shoppinglist_register_purchase' original.pk %}">Registrar compra</a></li>
  {% endif %}
  {{ block.super }}
{% endblock %}

{% block submit_buttons_bottom %}
  {{ block.super }}
  {% if change and not original.archived_at %}
    <div class="submit-row"><input type="submit" value="Registrar compra" name="_register_purchase"></div>
  {% endif %}
{% endblock %}
